@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollPerson::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem inteira */
}
.scrollPerson::-webkit-scrollbar-track {
  background: transparent; /* cor da área de rastreamento */
}
.scrollPerson::-webkit-scrollbar-thumb {
  background-color: transparent; /* cor do polegar de rolagem */
  border-radius: 20px; /* arredondamento do polegar de rolagem */
  border: 3px solid transparent; /* cria uma margem em torno do polegar de rolagem */
}

body::-webkit-scrollbar {
  width: 12px; /* largura da barra de rolagem inteira */
}
body::-webkit-scrollbar-track {
  background: rgba(39, 39, 42, 0.493); /* cor da área de rastreamento */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(225 29 72); /* cor do polegar de rolagem */
  border-radius: 20px; /* arredondamento do polegar de rolagem */
  border: 3px solid rgba(39, 39, 42, 0.493); /* cria uma margem em torno do polegar de rolagem */
}

/* person color for layout and distac */

/* .personColorTestRender{} */
/* .personColorTestHeader{} */
/* .personColorTestNav{} */
